footer.footer
  .footer__wrapper
    section.footer__contacts
      b Барбершоп «Бородинский»
      br
      | г. Санкт-Петербург, ул. Большая Конюшенная 19/8
      br
      a.footer__tel(href='tel:+78125556666')
        span.footer__contacts-hidden Тел.:
        |  +7 (812) 555-66-66
    section.footer__social
      .footer__social-title Давайте дружить!
      .social-links
        a.social-link.social-link--vk(href='https://vk.com/htmlacademy') Мы в Вконтакте
        a.social-link.social-link--fb(href='https://www.facebook.com/htmlacademy') Мы в Фейсбуке
        a.social-link.social-link--inst(href='https://www.instagram.com/htmlacademy') Мы в Инстаграме
    section.footer__copyright
      .footer__copyright-title Разработано:
      a.btn.footer__copyright-link(href='https://htmlacademy.ru/intensive/adaptive') HTML Academy

