.advantages {
  position: relative;
  color: #fff;
  background-color: #242424;
  text-align: center;
  &__triangle{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50px;
    fill:#242424;
  }
  &__svg{
    width: 95px;
    height: 95px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    svg{
      width: 100%;
      height: 100%;
    }
  }
  input {
    display: none;
  }
  &__wrapper {
    @include container;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 30px;
  }
  &__items {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__item {
    display: none;
    margin-bottom: 23px;
  }
  &__name{
    font-size: 30px;
    font-weight: 700;
    color: #f7f4f1;
  }
  &__nav {
    display: none;
  }
}

@media ($tablet-widths) {
  .advantages {
    text-align: left;
    &__wrapper {
      padding-top: 42px;
      padding-right: 0;
      padding-left: 0;
    }

    &__items {
      padding-bottom: 4px;
    }
    &__svg{
      width: 95px;
      float: left;
      margin-right: 30px;
    }
    &__item {
      margin: 0 30px;
      margin-bottom: 40px;
      padding: 0;
      padding-bottom: 39px;
      &:nth-child(n+2) {
        display: block;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media ($desktop-widths) {
  .advantages {
    text-align: center;
    &__svg{
      width: 95px;
      height: 95px;
      float: none;
      margin: auto;
    }
    &__wrapper {
      padding-top: 75px;
      padding-bottom: 59px;
    }
    &__name{
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    &__items {
      display: table;
      width: 100%;
    }
    &__item {
      &:nth-child(n+2) {
        display: table-cell;
      }
      &--cool {
        width: 200px;
        padding: 0 60px;
      }
    }
  }
}
@media ($mobile-widths-only) {
  .advantages{
    &__nav {
      display: block;
    }
    &__nav-btn{
      position: relative;
      cursor: pointer;
      margin-right: 30px;

      &:after{
        content: '';
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 10px;
        height: 10px;
        border: 1px solid white;
        transform: rotate(-45deg);
      }
    }
  }
  #advantages-radio-1:checked ~ .advantages__nav .advantages__nav-btn:nth-of-type(1):after,
  #advantages-radio-2:checked ~ .advantages__nav .advantages__nav-btn:nth-of-type(2):after,
  #advantages-radio-3:checked ~ .advantages__nav .advantages__nav-btn:nth-of-type(3):after {
    background: #fff;
  }
  #advantages-radio-1:checked ~ .advantages__item:nth-of-type(1),
  #advantages-radio-2:checked ~ .advantages__item:nth-of-type(2),
  #advantages-radio-3:checked ~ .advantages__item:nth-of-type(3) {
    display: block;;
  }
}