.footer{
  color: #fff;
  text-align: center;
  b{
    display: block;
    font-weight: 700;
  }
  &__wrapper {
    @include container;

    margin-top: 35px;
    padding-top: 35px;
    padding-bottom: 19px;
  }
  &__contacts {
    margin-bottom: 26px;
    padding: 0 19px;
  }

  &__social {
    margin-bottom: 28px;
  }
  &__social-title {
    margin-bottom: 20px;
  }

  &__copyright {
    padding: 0 23px;
  }
  &__copyright-link{
    color: #fff;
    border: 1px solid #3f3f3f;
    &:hover{
      border-color: rgba(white,0.2);
    }
    &:active{
      background-color: #252525;
    }
  }
  &__copyright-title{
    margin-bottom: 20px;
  }
  &__tel{
    color: #fff;
    text-decoration: none;
    &:hover{
      border-color: rgba(white,0.2);
    }
    &:active{
      background-color: #252525;
    }
  }
}
@media ($tablet-widths) {

  .footer {

    &__wrapper {
      position: relative;

      margin-top: 0;
      padding-top: 50px;
      padding-bottom: 60px;
    }
    &__contacts {
      text-align: left;
      margin-right: 170px;
      margin-bottom: 47px;
    }
    &__copyright {

      position: absolute;
      top: 50px;
      right: 0;

      width: 160px;
      padding: 0;
    }
    &__copyright-link{
      width: 160px;
    }
    &__social {
      margin-bottom: 0;
    }
  }
}
@media ($desktop-widths) {

  .footer {
    &__wrapper {

      @include clearfix ;
    }
    &__copyright {
      position: static;
      float: right;
    }
    &__contacts {
      float: left;
      width: 330px;
      margin: 0;
      margin-right: 50px;
      padding: 0;
    }
    &__social {
      float: left;

    }
  }
}
@media ($mobile-widths-only) {
  .footer{
    &__tel{
      display: block;
      margin: auto;
      text-align: center;
      line-height: 50px;
      text-decoration: none;
      width: 280px;
      height: 50px;
      border: 1px solid #e5ddd5;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      color: #fff;

    }
    &__contacts-hidden{
      display: none;
    }
  }
}
.social-links{
  font-size: 0;
}
.social-link{
  position: relative;
  display: inline-block;
  margin-right: 20px;
  width: 100px;
  height: 100px;
  border: 1px solid #3f3f3f;
  &:hover{
    border-color: #545454;
  }
  &:active{
    background-color: #252525;
  }
  &:after{
    content: '';
    z-index: 3;
    @include absoluteCenter;
  }
  &--vk{
    &:after{
      width: 23px;
      height: 26px;
      background: url('../images/sprite/vk.png#sprite');
    }

  }
  &--fb{
    &:after{
      width: 18px;
      height: 39px;
      background: url('../images/sprite/fb.png#sprite');
    }

  }
  &--inst{
    &:after{
      width: 36px;
      height: 36px;
      background: url('../images/sprite/inst.png#sprite');
    }


  }
}