.news{
  background-color: #fff;
  &__wrapper {
    position: relative;
    @include container;

    padding-top: 67px;
    padding-bottom: 28px;
  }
.title{

}
  &__item {
    position: relative;
    margin: 0 20px;
    margin-bottom: 16px;
    padding-bottom: 18px;
    padding-left: 70px;

    a{
      color: #000;
      text-decoration: none;
    }
    &:nth-child(2) {
      padding-bottom: 0;
    }

    &:nth-child(n+3) {
      display: none;
    }
  }
  &__date{
    position: absolute;
    top: 10px;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #000;
    font-size: 16px;
    line-height: 15px;
    color: #fff;
    text-align: center;
    &:after{
      position: absolute;
      left: 0px;
      bottom: -18px;
      @include triangle(25px,#000, down);
      transform: scaleY(0.5);
    }
    b{
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
    }

  }

}
@media ($tablet-widths) {

  .news {
    position: relative;
    padding-top: 90px;
    padding-bottom: 28px;
    text-align: left;

    &__wrapper {
      padding: 0;
    }
    &__title {
      text-align: left;
      margin-right: 200px;
      margin-bottom: 55px;
      margin-left: 70px;

    }
    &__item {
      display: inline-block;
      width: 220px;
      margin: 0;
      padding: 0 30px;
      padding-left: 70px;

      vertical-align: top;
      &:nth-of-type(2){
        padding-right: 0;
      }
    }

  }

}
@media ($desktop-widths) {

  .news {
    padding-top: 88px;
    padding-bottom: 32px;
    text-align: left;
    &__title {
      margin-left: 70px;
      text-align: left;
    }
    &__item{
      &:nth-child(n+3) {
        display: inline-block;
      }

    }
  }

}
@media ($mobile-widths-only) {
  .news{
    &__wrapper{
      padding-right: 10px;
      padding-left: 10px;
    }
    &__item{

      &:first-child{
        border-bottom: 1px solid #e5ddd5;;
      }
    }
  }
}