.stats {
  .title{
    display: none;
  }
  &__header {
    color: #000000;
    background-color: #ffffff;
    padding-top: 27px;
    padding-right: 38px;
    padding-bottom: 26px;
    padding-left: 38px;
  }
  &__slogan {
    display: block;
    margin-bottom: 16px;

    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  &__intro {
    margin: 0;

    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }
  &__legend {
    display: block;

    font-size: 18px;
    line-height: 20px;

    &--bottom {
      padding-top: 20px;
      padding-bottom: 14px;

      text-align: center;
      color: rgba(255, 255, 255, 0.3);

      background-color: $bg-color;
    }
    &--top {
      display: none;
    }
  }

  &__legend sup {
    top: -0.25em;

    font-size: 90%;
  }
  &__list {
    width: 100%;
    border-collapse: collapse;
    tr {
      color: #ffffff;

      background-color: #404040;

      &:nth-child(2) {
        background-color: #4e4e4e;
      }

      &:nth-child(3) {
        background-color: #353535;
      }

      &:nth-child(4) {
        background-color: #404040;
      }
    }

  }
  &__value,
  &__field {
    width: 50%;
    padding: 20px;
    padding-bottom: 19px;

    vertical-align: top;
  }

  &__value {
    position: relative;
    padding-right: 0;

    font-size: 40px;
    line-height: 40px;
    sup {
      position: absolute;
      top: -0.35em;

      margin-left: 5px;
    }
  }

  &__field {
    padding-left: 0;

    font-size: 18px;
    line-height: 18px;
    text-align: right;
  }
}
@media($mobile-widths-only) {
    .stats{
      &__value{
        sup{
          top: 0.5em;
        }
      }
    }
 }
@media ($tablet-widths) {

  .stats {
    position: relative;
    z-index: 1;

    margin-top: -100px;

    &__header {
      @include clearfix;

      position: relative;

      min-height: 129px;
      padding: 0;
      padding-top: 31px;
      padding-bottom: 24px;

      &::before {
        content: "";
        position: absolute;
        top: 27px;
        left: -15px;

        border: 15px solid transparent;
        border-bottom-color: #ffffff;
        transform: rotate(45deg);
      }
    }
    &__slogan {
      float: left;
      width: 280px;
      padding-left: 40px;
      margin-bottom: 20px;

      font-size: 39px;
      line-height: 40px;
      text-align: left;
      text-transform: none;
    }

    &__intro {
      float: right;
      width: 210px;
      padding: 0;
      padding-top: 4px;
      padding-right: 80px;

      text-align: left;
    }
    &__legend--top {
      display: block;
      float: left;
      clear: left;
      width: 280px;
      padding-left: 40px;

      color: rgba(0, 0, 0, 0.3);
    }

    &__legend--bottom {
      display: none;
    }
    &__list {
      @include clearfix;
      display: block;
      tr {
        display: block;
        float: left;
        width: 250px;
        padding: 25px 35px;
        padding-bottom: 28px;
      }
    }
    &__value,
    &__field {
      display: block;
      width: auto;
      padding: 0;
    }
    &__value {
      margin-bottom: 11px;

      font-size: 63px;
      line-height: 63px;
    }

    &__field {
      font-size: 20px;
      line-height: 27px;
      text-align: left;
      br {
        display: none;
      }
    }
  }

}

@media ($desktop-widths) {

  .stats {
    @include clearfix;

    margin-top: -159px;
    &__header {
      float: left;
      width: 240px;
      min-height: 243px;
      padding-left: 40px;
      padding-right: 40px;
      &::before {
        top: 22px;
      }
    }
    &__slogan {
      float: none;
      width: auto;
      margin-bottom: 32px;
      padding-left: 0;
    }
    &__intro {
      float: none;
      width: auto;
      margin-bottom: 32px;
      padding: 0;
    }

    &__legend--top {
      float: none;
      width: auto;
      padding-left: 0;
    }
    &__list {
      float: left;
      display: block;
      width: 640px;

    }

  }
}