extends ../layout/layout

block title
 |Barbershop

block content
  section.stats
    .container
      h2.title Статистика Барбершопа
      header.stats__header
        b.stats__slogan
          | Стрижка у нас
          br
          | это выгодно!
        p.stats__intro Мужская стрижка требует точного подхода. Обратимся к статистике:
        small.stats__legend.stats__legend--top
          sup *
          | — приведённые данные ложь
      table.stats__list
        tr
          td.stats__value
            | 1 500
            sup *
          td.stats__field
            | рублей
            br
            |  вложений
        tr
          td.stats__value 7 200
          td.stats__field
            | секунд
            br
            |  времени мастера
        tr
          td.stats__value 90 000
          td.stats__field
            | постриженных
            br
            |  волос
        tr
          td.stats__value
            | 500 000
            sup *
          td.stats__field
            | лайков
            br
            |  и комплиментов
      small.stats__legend.stats__legend--bottom
        sup *
        | — приведённые данные ложь

  section.advantages
    .advantages__wrapper

      ul.advantages__items
        input#advantages-radio-1.slider-nav__switcher(type='radio', name='advantages', checked='')
        input#advantages-radio-2.slider-nav__switcher(type='radio', name='advantages')
        input#advantages-radio-3.slider-nav__switcher(type='radio', name='advantages')
        li.advantages__item.advantages__item--fast
          .advantages__svg
            svg
              use(xlink:href='#advantage-fast')
          b.advantages__name Быстро
          p
            | Мы делаем свою работу быстро! Два часа пролетят незаметно и вы — счастливый обладатель стильной стрижки-минутки.
        li.advantages__item.advantages__item--cool
          .advantages__svg
            svg.advantages__svg
              use(xlink:href='#advantage-cool')
          b.advantages__name Круто
          p
            | Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино. Во всяком случае внешне.
        li.advantages__item.advantages__item--price
          .advantages__svg
            svg.advantages__svg
              use(xlink:href='#advantage-price')
          b.advantages__name Дорого
          p
            | Наши мастера — профессионалы своего дела и не могут стоить дёшево. К тому же, разве цена не даёт определённый статус?
        .advantages__nav
          label.advantages__nav-btn(for='advantages-radio-1')
          label.advantages__nav-btn(for='advantages-radio-2')
          label.advantages__nav-btn(for='advantages-radio-3')
      svg.advantages__triangle
        use(xlink:href='#triangle')

  section.news
    .news__wrapper
      h2.title Новости и акции
      .news__items
        article.news__item
          a(href='#')
            | Нам наконец-то завезли Ягермейстер! Теперь вы можете пропустить стаканчик во время стрижки.
          time.news__date(datetime='2015-09-29')
            b 29
            |  сент
        article.news__item
          a(href='#')
            | В нашей команде пополнение, Борис «Бритва» Стригунец, обладатель множества титулов и наград пополнил наши стройные ряды. Спешите записаться!
          time.news__date(datetime='2015-09-19')
            b 19
            |  сент
        article.news__item
          a(href='#')
            | Всё дорожает, а наши стрижки нет! Как так? Приходите, постригитесь и узнаете, в чём здесь подвох!
          time.news__date(datetime='2015-09-09')
            b 9
            |  сент
      a.btn.btn--right(href='') Показать все

  section.reviews
    .reviews__wrapper
      h2.title Отзывы о нас
      a.btn.btn--right.btn--reviews(href='') Оставить свой
      .reviews__items
        input#reviews-radio-1.slider-nav__switcher(type='radio', name='reviews', checked='')
        input#reviews-radio-2.slider-nav__switcher(type='radio', name='reviews')
        input#reviews-radio-3.slider-nav__switcher(type='radio', name='reviews')
        blockquote.reviews__item.reviews__item--active
          .reviews__inner
            .reviews__auhor-foto
              img(src='images/travis.jpg', width='249', height='160', alt='Фото Трэвиса Баркера')
            .reviews__block
              cite.reviews__auhor-name Трэвис Баркер
              p
                | Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
        blockquote.reviews__item
          .reviews__inner
            .reviews__auhor-foto
              img(src='images/travis.jpg', width='249', height='160', alt='Фото Джона Смита')
            .reviews__block
              cite.reviews__auhor-name Джон Смит
              p Отличную стрижку мне сделали ребята.
        blockquote.reviews__item
          .reviews__inner
            .reviews__auhor-foto
              img(src='images/travis.jpg', width='249', height='160', alt='Фото Ивана Бородайло')
            .reviews__block
              cite.reviews__auhor-name Иван Бородайло
              p В Бородинском ваша борода в надёжных руках!
        button.reviews__toggle.reviews__toggle--prev(type='button') Предыдущий отзыв
        button.reviews__toggle.reviews__toggle--next(type='button') Следующий отзыв
        .reviews__nav
          label.reviews__nav-btn(for='reviews-radio-1')
          label.reviews__nav-btn(for='reviews-radio-2')
          label.reviews__nav-btn(for='reviews-radio-3')
      svg.reviews__triangle
        use(xlink:href='#triangle')





